<%= form_for @message, url: root_path do |f| %>
  <% if @message.errors.any? %>
   <div id="error_explanation">
     <div class="alert alert-danger">
       <h6 class="alert-danger"><%= pluralize(@message.errors.count, "error") %> prohibited this message from being saved:</h6>
     </div>

  <% end %>
  <%= error_message_for(@message, :name) %>
  <%= f.text_field :name, placeholder: "Name", class: "big-input alt-font" %>
  <%= error_message_for(@message, :email) %>
  <%= f.email_field :email, placeholder: "Email", class: "big-input alt-font"%>
  <%= error_message_for(@message, :phone) %>
  <%= f.telephone_field :phone, class: "big-input alt-font", placeholder: "Phone Number"%>
  <%= error_message_for(@message, :content) %>
  <%= f.text_area :content, placeholder: "Message", class: "big-input alt-font"%>
  <%= f.submit "Submit" , class: "highlight-button-dark btn btn-medium", id: "submit"%>
</div>
<% end %>
