<h2><%= @message.name %> contacted Venetian</h2><br>

<p>
  <%= @message.name %> wrote:
</p>
<p>
  <%= @message.content %>
</p><br>

<p>
  You can reach them at:
</p>
<p>
  <%= @message.phone %>
</p>
<p>
  <%= @message.email %>
</p>
