<h1><%= @message.name %> contacted Venetian</h1><br>

<p>
  <%= @message.name %> wrote:
  <%= @message.content %>
</p><br>

<p>
  You can reach them at:
  <%= @message.phone %>
  <%= @message.email %>
</p>
